@import "tailwindcss";

.hero-background {
    background-image: url('../assets/images/the-coding-nook/hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
}