@import "tailwindcss";

.hero-background {
    background-image: url('../../cdn/the-coding-nook/images/hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
}